body{
background-color:#333;
margin:0;
padding:0;
background-image:url(system_images/gradientbanner.png);
background-repeat:repeat-x;
font-family:Geneva, Arial, Helvetica, sans-serif;}
h3{
margin:30px 0 0 0;
font-size:14px;
}
p{
margin:5px 0 15px 0;
text-align:justify;
}
div#watermarkwithtext{
background-image:url(system_images/moleculewithtxt.png);
background-repeat:no-repeat;
width:350px;
height:200px;
position:absolute;
top:8px;
left:50%;
margin-left:-175px;
}
div#shortbrand{
background-image:url(system_images/wzlshortbrand.png);
background-repeat:no-repeat;
width:135px;
height:40px;
position:absolute;
top:35px;
left:100px;
}
div#webzinetexthidden{
background-image:url(system_images/webzinetext.png);
background-repeat:no-repeat;
width:260px;
height:35px;
position:absolute;
left:50%;
margin-left:-320px;
top:13px;
}
div#wzlfooter{
height:100px;
width:100%;
font-size:12px;
color:#cccccc;
}
div#content_container{
background-color:#ffffff;
width:100%;
min-width:1100px;
min-height:470px;
z-index:0;
}
div#footerlinks_wrapper{
width:800px;
position:relative;
left:50%;
margin-left:-350px;
}
a.footerlinks{
width:220px;
padding:10px 0 10px 0;
float:left;
color:#fff;
font-size:14px;
text-decoration:none;
text-align:center;
}
a.footerlinks:hover{
color:#CCFFFF;
text-decoration:underline;
}
div#molecule{
position:absolute;
background-image:url(system_images/molecule.png);
width:70px;
height:70px;
left:195px;
top:24px;
}
h2{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:28px; 
color:#CC3300;
text-align:center;
font-weight:normal;
}
div.feedcolleft{
width:345px;
}
div.feedcolright{
width:345px;
margin-left:90px;
}
div#contentwrapper{
position:relative; 
top:0px;
left:50%; 
min-height:400px;
width:90%; 
margin-left:-45%;
z-index:115; 
}
#otherplaces li{
font-size:14px;
font-weight:normal;
margin-bottom:9px;
text-align:left;
}
a.otherplaces{
text-decoration:none;
color:#666666;
}
a.otherplaces:hover{
color:#0099FF;
}
h2, h3, h5{
text-align:center;
}
h3{margin-top:7px;}
#leftcol{
width:65%;
}
#rightcol{
width:35%;
float:right;
}